<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="adminlogin.css">
    <title>LoginScreen</title>
</head>

<body>
    <form class="login-form" action="/adminlogin" method="post">
        <p class="baslik">ADMIN GIRIS EKRANI</p>
        <div class="centerdiv">
            <div class="btnNinputs">
                <div class="image">
                    <img src="admin.png" width="100" height="100" class="img">
                </div>
                <div class="inputs">
                    <input type="email" id="text" name="text" placeholder="Email">
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
                <div class="buttons">
                    <button type="submit" id="button" name="send">Login</button>
                    <a href="/">
                        <button type="button" id="tohomepage" name="tohomepage">Home</button>
                    </a>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
    </script>
</body>

</html>