<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="admin.css">
    <title>Document</title>
</head>

<body>
    <a href="/user.html">
        <button type="button" id="tomainpage" name="tomainpage">Home</button>
    </a>
    <form action="/admin" method="post" class="admin-form">
        <div class="all">

            <div class="texts">
                <input type="text" id="text" name="authorname" placeholder="Arastırmacı Adı Soyadı">
                <input type="text" id="text1" name="publicationname" placeholder="Yayın Adı">
                <input type="text" id="text2" name="year" placeholder="Yayın Yılı">
                <input type="text" id="text3" name="placeofpublication" placeholder="Yayın Yeri">
                <input type="text" id="text4" name="publicationtype" placeholder="Yayın Türü">
            </div>
            <div class="inputbutton">
                <button type="submit" id="submit" name="submit">SEND</button>

            </div>
        </div>
    </form>

    <script type="text/javascript">
    </script>
</body>
</body>

</html>